<div class="row">
  <div class="col-md-3"></div>
 <div class="col-md-6">
   <h1>Complete Your Profile</h1>
<hr>
   <form>
  <div class="form-group">
    <label for="Qualification">Qualification</label>
    
        <select class="form-control" id="select">
          <option>Bachelor of Computer Science</option>
          <option>Bachelor of Arts</option>
          <option>Bachelor of Architecture</option>
       
        </select>
    
    <input type="checkbox" id="Pursuing" value="Pursuing"> 
    <label for="Gender">Pursuing</label>
    
    <div class="input-group">
      <div class="input-group-addon">%</div>
      <input type="text" class="form-control" id="InputPercentage" placeholder="Current Percenatge">
     
    </div>
    
      
      <br>
    
        <select class="form-control" id="select">
          <option>Male</option>
          <option>Female</option>
        </select>
    </div>
     <label for="Gender">Date of Birth</label>
     <br>
   <input type="Date" id="DOB" class="form-control" >
     
  <hr>
     <label for="StreetInputText">Street</label>
     <input type="text" class="form-control"  id="streetInputText">
 
     <label for="cityInputText">City</label>
     <input type="text" class="form-control"  id="cityInputText">
 
     <label for="stateInputText">State</label>
     <input type="text" class="form-control"  id="stateInputText">

     
     <label for="pinInputText">Pin-Code</label>
     <input type="text" class="form-control"  id="pinInputText">
     
    <br>
     <div class="input-group">
      <div class="input-group-addon">+91</div>
      <input type="text" class="form-control" id="InputNumber" placeholder="Mobile Number">
     
    </div>
   <hr>
     
    <label for="resumeInputFile">Upload your Profile Pic.</label>
    <input type="file" id="profileInputFile">
   <small id="Warning" class="form-text text-muted">*Upload only .png Format </small>
   
    <div>
    <label for="resumeInputFile">Upload your Resume</label>
    <input type="file" id="resumeInputFile">
   <small id="Warning" class="form-text text-muted">*Upload only .pdf Format </small>
          </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>