<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Gojira Jobs</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['findjob']">Find Job</a></li>
                <li><a [routerLink]="['aboutus']">About Us</a></li>
            </ul>

            <ul *ngIf="!(loggedIn | async)" class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['login']">Login</a></li>
                <li><a [routerLink]="['register']">Sign-Up</a></li>
            </ul>
            <ul *ngIf="(loggedIn | async)" class="nav navbar-nav navbar-right">
                <li class="nav-item" style="float: right;">

       <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Rahul
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a [routerLink]="['profile']">View Profile</a></li>
      <li><a [routerLink]="#">Logout</a></li>
    </ul>
  </div>

                  
                </li>
            </ul>
        </div>
    </div>
</nav>