
 
 <h4>Edit Personal Details</h4><br>
                <hr class="w3-clear">

  <form>
    <div class="form-group">
      <label for="name"><h6>Candidate Name </h6></label>
      <input  type="text" class="form-control" id="name" value={{details[0]}}>
    </div>
    <div class="form-group">
      <label for="dob"><h6>Date of Birth </h6></label>
      <input type="date" class="form-control" id="date" >
    </div>
    <div class="form-group checkbox">
      <label for="Gender"><h6>Gender </h6></label>
      <label><input type="radio"> Male</label>
      <label><input type="radio"> Female</label>
    </div>
    <div class="form-group">
      <label for="email"><h6>Email </h6></label>
      <input type="email" class="form-control" id="email" >
    </div>
    <div class="form-group">
      <label for="Contact"><h6> Contact No </h6></label>
      <input type="number" class="form-control" id="date">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

<hr class="w3-clear">
                