<div class="jumbotron">
    <p>Find Any Job</p>


    <p>Search over 4,818 job postings in any category</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Catagory</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
    <div class="col-md-7">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Recipient's username"
                               aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2">Search</span>
                    </div>
                </h3>
            </div>


            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="disabled"><a href="#" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        ...
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>